#recommendedmenu 
{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 200px;
	background-color: #F5F5F5;
	border-bottom: 1px gray solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}